@import url('./root.css');

.empty-page__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.empty-page__title {
	padding-top: 3rem;
	font-family: var(--font-family);
	font-size: 1.1rem;
	text-align: center;
	color: var(--light-txt);
}

.empty-page__add-btn {
	padding: 0.5rem;
	font-family: var(--font-family);
	font-size: 1.1rem;
	text-decoration: none;
	color: var(--dark-txt);
	border-radius: 5px;
	background: var(--primary);
	box-shadow: var(--box-shadow);
}

.empty-page__img {
	margin-top: 2rem;
	width: 500px;
	border: 1px solid var(--dark-100);
}
/* Dark Theme */
.empty-page__title.dark {
	color: var(--dark-txt);
}

@media only screen and (max-width: 1024px) {
	.empty-page__title span.btn {
		display: block;
		margin-top: 1rem;
	}
}
