/* :root {

	--dark-violet: #201825;
	--light-violet: #998fbf;
	--light-green: #a8efd8;
	--button-bg: #3cbf95;

	--font-family: 'Helvetica', sans-serif;

	--shadow: drop-shadow(4px 4px 3px rgba(60, 191, 149, 0.15));
} */

:root {
	/* Colors */
	--dark-100: #082032;
	--dark-200: #2c394b;
	--dark-300: #334756;
	--dark-400: #3d4550;
	--dark-txt: #e4e4e4;
	--light-100: #fffffff2;
	--light-txt: #333333;
	--primary: #008761;
	--fullcard-dark-bg: #27424e;
	--fullcard-light-bg: #d4d8db;
	--btn-disabled: grey;
	--error-bg: #bd8791;
	--msg-bg: #008761;

	/* Font */
	--font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
	/* Effects */
	--shadow: drop-shadow(4px 4px 3px rgba(79, 79, 79, 0.261));
	--box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--radius: 5px;
}

* {
	transition: background-color 0.3s ease;
	transition: color 0.3s ease;
}

.dark * {
	transition: background-color 0.3s ease;
	transition: color 0.3s ease;
}
